<body>
    

<app-navbar></app-navbar>
<div>
    <div class="text-center" >
      <div class="multi-buttonB"  style = "float: right">
      <button id="b2" (click)="getProductsBranch2()" class="btn btn-success m-3 " >Ordenar de Menor a Mayor</button>
      </div>
    
      <div class="multi-buttonC"  style = "float: right">
      <button id="b2" (click)="getProductsBranch()"class="btn btn-success m-3 ">Ordenar de Mayor a Menor</button>
      </div>
    
    </div>
  
  </div>
  
  
  
  <div class="hola">
    <div class="text-center" >
      <h1 *ngIf="productBranch" class="m-4" id="titulo">name</h1>
    </div>
  <br>
    <div class="table-users" style="width: 100%">
      <div class="header">Productos Empresa</div>
  
      <table cellspacing="0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Producto</th>
            <th> Stock </th>
            <th>Total de Ventas</th>
            <th style="width: 15rem;"></th>
            
         </tr>
  
        </thead>
    
        <tbody>
          <tr *ngFor="let productBranch of productBranchs, let i=index">
            <td >{{i+1}}</td>
            <td>{{productBranch.productCompany.name}}</td>
            <td>{{productBranch.stock}}</td>
            <td>{{productBranch.totalSales}}</td>
            <td>
              <div class="multi-button3">
                <button data-bs-toggle="modal" data-bs-target="#modalSale"> Vender
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                      <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                    </svg>
                </button>
              </div>
            </td>
         </tr>
        </tbody>
         
        </table>
        

      </div>

    </div>
   

<!-- Modal -->
<div class="modal-wrapper" id="modalSale">
    <div class="modal">
      <div class="head">
        <a class="btn-close trigger" href="#">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
      </div>
      <div class="content">
          <div class="good-job">
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            <h1>Good Job!</h1>
          </div>
      </div>
    </div>
  </div>

</body>