<body>
  <app-navbar></app-navbar>
<div class="text-center">
  <div class="multi-buttonA"  style = "float: right">
    <button id="b" class="btn btn-success m-3 "
    data-bs-toggle="modal" data-bs-target="#exampleModalCenter">AGREGAR EMPRESA</button>
  </div>
</div>
<div class="hola">
  <br>
    <div class="table-users " style="width: 100%">
      <div class="header">Empresas</div>
  
      <table cellspacing="0">
        <thead>
          <tr>
            <th >ID</th>
            <th> Nombre </th>
            <th>Tipo</th>
            <th>Nombre de Usuario</th>
            <th style="width: 13rem;"></th>
            <th style="width: 13rem;"></th>
            <th style="width: 13rem;"></th>
            
         </tr>
  
        </thead>
    
        <tbody>
          <tr *ngFor="let company of companys, let i=index">
            <td >{{i+1}}</td>
            <td>{{company.name}}</td>
            <td>{{company.type}}</td>
            <td>{{company.username}}</td>
           
            <td>
              <div class="multi-button">
                <button (click)="getCompany(company._id)" data-bs-toggle="modal" data-bs-target="#exampleModalCenter2" >Actualizar</button>
                
              </div>
            </td>
            <td>
              <div class="multi-button2">
                <button (click)="deleteCompanyByAdmin(company._id)">Eliminar</button>
              </div>
  
            </td>
            <td>
              <div class="multi-button3">
                <button [routerLink]="['/branchByAdmin/' + company._id]"> Sucursales
                  <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
                    <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                  </svg>
                </button>
              </div>
  
            </td>
         </tr>
  
        </tbody>
         
        </table>
      </div>
    </div>

<!-- Modal Add company -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content rounded -0">
      <div class="modal-body py-0">
        <button  style="float:right" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="d-flex main-content">
          <div class="bg-image promo-img mr-3" style="background-image: url('../../../assets/img/empree.jpg');">
          </div>
          <div class="content-text p-4">
            <h3>Agregar Empresa</h3>
            <form #addCompanyForm="ngForm">
              <div class="form-group">
                <label for="name">Nombre</label>
                <input [(ngModel)]="company.name" name="name" type="text" class="form-control" id="name" placeholder="Nombre">
              </div>
              <div class="form-group">
                <label for="type">Tipo de empresa</label>
                <input [(ngModel)]="company.type" name="type" type="text" class="form-control" id="type" placeholder="Tipo de empresa">
              </div>
              <div class="form-group">
                <label for="username">Nombre de usuario</label>
                <input [(ngModel)]="company.username"  name="username" type="text" class="form-control" id="username" placeholder="Nombre de usuario">
              </div>
              <div class="form-group">
                <label for="password">Contraseña</label>
                <input [(ngModel)]="company.password"  name="password" type="text" class="form-control" id="password" placeholder="Contraseña">
              </div>

              <div class="form-group">
                <div class="multi-buttonA" >
                <button (click)="registerCompanyByAdmin(addCompanyForm)" class="btn btn-success m-3 "
                  data-bs-toggle="modal" >Guardar</button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Modal Actualizar -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content rounded -0">
      <div class="modal-body py-0">
        <button  style="float:right" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="d-flex main-content">
          <div class="bg-image promo-img mr-3" style="background-image: url('../../../assets/img/emc.jpg');">
          </div>
          <div class="content-text p-4">
            <h3>Actualizar empresa</h3>
            <form *ngIf="companyUpdate">
              <div class="form-group">
                <label for="name">Nombre</label>
                <input [(ngModel)]="companyUpdate.name" name="name" type="text" class="form-control" id="name" placeholder="Nombre">
              </div>
              <div class="form-group">
                <label for="type">Tipo de empresa</label>
                <input [(ngModel)]="companyUpdate.type" name="type" type="text" class="form-control" id="type" placeholder="Type">
              </div>
              <label for="username">Nombre de usuario</label>
                <input [(ngModel)]="companyUpdate.username" name="username" type="text" class="form-control" id="username" placeholder="Username">
              <div class="form-group">
                <div class="multi-buttonA" >
                  <button (click)="updateCompanyByAdmin()" class="btn btn-success m-3 "
                  data-bs-toggle="modal" >Actualizar</button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
message.txt
7 KB
</body>