<app-navbar></app-navbar>

<div>
  <div class="text-center" >
    <div class="multi-buttonA"  style = "float: right">
      <button id="b" class="btn btn-success m-3 "
      data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Agregar Producto</button>
    </div>
    <div class="multi-buttonB"  style = "float: right">
    <button id="b2" (click)="getProducts2()" class="btn btn-success m-3 " >Ordenar de Menor a Mayor</button>
    </div>
  
    <div class="multi-buttonC"  style = "float: right">
    <button id="b2" (click)="getProducts()"class="btn btn-success m-3 ">Ordenar de Mayor a Menor</button>
    </div>
  
  </div>

</div>

<div class="hola">
  <div class="text-center" >
    <h1 *ngIf="company" class="m-4" id="titulo">{{name}}</h1>
  </div>
<br>
  <div class="table-users" style="width: 100%">
    <div class="header">Productos Empresa</div>

    <table cellspacing="0">
      <thead>
        <tr>
          <th>Numero</th>
          <th> Nombre </th>
          <th>Proveedor</th>
          <th>stock</th>
          <th style="width: 15rem;"></th>
          <th style="width: 15rem;"></th>
          <th style="width: 15rem;"></th>
          
       </tr>

      </thead>
  
      <tbody>
        <tr *ngFor="let productCompany of productCompanys, let i=index">
          <td >{{i+1}}</td>
          <td>{{productCompany.name}}</td>
          <td>{{productCompany.supplier}}</td>
          <td>{{productCompany.stock}}</td>
          <td>
            <div class="multi-button">
              <button (click)="getProductCompany(productCompany._id)" data-bs-toggle="modal" data-bs-target="#exampleModalCenter2" aria-controls="offcanvasExample">Actualizar</button>
              
            </div>
          </td>
          <td>
            <div class="multi-button2">
              <button (click)="deleteProduct(productCompany._id)">Eliminar</button>
            </div>

          </td>
          <td>
            <div class="multi-button3">
              <button > Enviar
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                    <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                  </svg>
              </button>
            </div>

          </td>
   
       </tr>

      </tbody>
       
      </table>
    </div>
  </div>

<!-- Modal Agregar -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content rounded -0">
      <div class="modal-body py-0">
        <button  style="float:right" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="d-flex main-content">
          <div class="bg-image promo-img mr-3" style="background-image: url('../../../assets/img/p2.jpg');">
          </div>
          <div class="content-text p-4">
            <h3>Agregar Producto</h3>
            <form #addProductCompanyForm="ngForm">
              <div class="form-group">
                <label for="name">Nombre Producto</label>
                <input [(ngModel)]="productCompany.name" name="name" type="text" class="form-control" id="name" placeholder="Nombre">
              </div>
              <div class="form-group">
                <label for="supplier">Proveedor</label>
                <input [(ngModel)]="productCompany.supplier" name="supplier" type="text" class="form-control" id="supplier" placeholder="proveedor">
              </div>
              <div class="form-group">
                <label for="stock">Stock</label>
                <input [(ngModel)]="productCompany.stock"  name="stock" type="text" class="form-control" id="stock" placeholder="stock">
              </div>

              <div class="form-group">
                <div class="multi-buttonA" >
                <button (click)="addProductCompany(addProductCompanyForm)" class="btn btn-success m-3 "
                  data-bs-toggle="modal" >Agregar</button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Modal Actualizar -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content rounded -0">
      <div class="modal-body py-0">
        <button  style="float:right" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="d-flex main-content">
          <div class="bg-image promo-img mr-3" style="background-image: url('../../../assets/img/acpro.png');">
          </div>
          <div class="content-text p-4">
            <h3>Actualizar sucursal</h3>
            <form *ngIf="productCompanyUpdate">
              <div class="form-group">
                <label for="name">Nombre del producto</label>
                <input [(ngModel)]="productCompanyUpdate.name" name="name" type="text" class="form-control" id="name" placeholder="Nombre">
              </div>
              <div class="form-group">
                <label for="supplier">Proveedor</label>
                <input [(ngModel)]="productCompanyUpdate.supplier" name="supplier" type="text" class="form-control" id="supplier" placeholder="Proveedor">
              </div>
              <label for="stock">Stock</label>
                <input [(ngModel)]="productCompanyUpdate.stock" name="stock" type="text" class="form-control" id="stock" placeholder="Stock">
              <div class="form-group">
                <div class="multi-buttonA" >
                  <button (click)="updateProduct()" class="btn btn-success m-3 "
                  data-bs-toggle="modal" >Actualizar</button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
