<app-navbar></app-navbar>

  <div class="hola">
    <div class="text-center" >
        <h1>Sucursales</h1>
    </div>
    <br>
      <div class="table-users " style="width: 100%">
        <div class="header">Sucursales</div>
    
        <table cellspacing="0">
          <thead>
            <tr>
              <th >ID</th> 
              <th >Nombre</th>
              <th>Dirección</th>
              <th>Empresa</th>
           </tr>
    
          </thead>
      
          <tbody>
            <tr *ngFor="let branch of branchs, let i=index">
              <td >{{i+1}}</td>
              <td>{{branch.name}}</td>
              <td>{{branch.direction}}</td>
              <td>{{branch.company.name}}</td>
           </tr>
    
          </tbody>
           
          </table>
        </div>
      </div>
